.draggableItemContainer {
  padding: 16px;
  margin: 0 0 16px 0;
  border-radius: 5px;
  border: 0.5px solid #cdd2d4;
  position: relative;
}

.filtersContainer {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0.5px solid #cdd2d4;
  background-color: #edf3f5;
  width: calc(100% - 32px);
  margin: 20px auto;
  padding: 10px 16px;
  border-radius: 5px;
  border-radius: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.editIcon,
.deleteIcon,
.saveIcon {
  transition: all 0.3s;
  cursor: pointer;
  padding-bottom: 5px;
}

.editIcon {
  filter: invert(77%) sepia(98%) saturate(756%) hue-rotate(330deg)
    brightness(103%) contrast(98%);
}

.saveIcon {
  filter: invert(34%) sepia(14%) saturate(2393%) hue-rotate(188deg)
    brightness(110%) contrast(92%);
}

.deleteIcon {
  filter: invert(53%) sepia(80%) saturate(6721%) hue-rotate(335deg)
    brightness(120%) contrast(92%);
}

.datePopper {
  position: absolute;
  z-index: 3;
  bottom: 0;
}
